<!DOCTYPE HTML>
<html>
<title>Welcome to NymeBox</title>

<body>
  <table>
    <tr>
    <td width="75">
    <a href="/"><img src="{{ MEDIA_URL }}/home.jpg" />
    Home
    </a>
    </td>
    </td>
    <td width="75">
    <a href="/ftpCheck">
    Check for FTP Files
    </a>
    </td>
    <td width="75">
    <a href="/last_results">
    Last Results
    </a>
    </td>
    <td width="75">
    <a href="/admin/Basic/configitem/1/change/">
    Admin
    </a>
    </td>
    </tr>
</table>
{% block content %}

{% endblock %}
</body>
</html>
