{% extends 'nymebox/nymebox_base.html' %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

setInterval(function() {
    $('#div1').load('FTPLog');
}, 100);

$(document).ready(function(){
  $("button").click(function(){
    $("#div1").load("FTPLog", function(responseTxt, statusTxt, xhr){
      if(statusTxt == "success")
        alert("External content loaded successfully!");
      if(statusTxt == "error")
        alert("Error: " + xhr.status + ": " + xhr.statusText);
    });
  });
});

</script>
</head>
<body>
<p></p>
<div id="div1">Loading Log File to show progress...</div>
<p></p>
<button>Validate and Refresh Log file</button>

</body>

{% endblock %}