{% extends 'nymebox/nymebox_base.html' %}

{% block content %}

<style>
  .FTP{
  background-color: blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  width: 300px;
  }
    
  </style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

//setInterval(function() {
//    $('#div1').load('FTPLog');
//    //$('#div1').
//}, 1000);

//$(document).ready(function(){
//  $("button").click(function(){
//    $("#div1").load("FTPLog", function(responseTxt, statusTxt, xhr){
//      //if(statusTxt == "success")
//      //  alert("External content loaded successfully!");
//      if(statusTxt == "error")
//        alert("Error: " + xhr.status + ": " + xhr.statusText);
//    });
//  });
//});
</script>

<body style="color:darkblue;font-size: small;"></body>
<table>
<tr><td>FTP Target: </td><td> {{ config.FtpURL }}</td></tr>

<tr><td>File Types: </td><td>{{ config.FileTypeList }}</td></tr>

<tr><td>User: </td><td>{{ config.FTPUser }}</td></tr>

<tr><td>Source Dir: </td><td>{{ config.SourceDir }}</td></tr>

<tr><td>Dest Dir: </td><td>{{ config.DestDir }}</td></tr>
</table>

<form action="mount_sdcard/" name="Mount_SD" method="POST">
  {% csrf_token %}
  <button type="submit" value="Mount SD Card" class="FTP" id="MountButton" style="display: {{ mountButton }};" > Mount SD Card </button> 
</form>
<form action="ftpCheck/" name="FileCheck" method="POST">
  {% csrf_token %}
  <button type="submit" value="Reset" class="FTP" id="FileCheckButton" style="display: {{ fileCheckButton }};"> Check File List </button>
</form>
<form action="do_ftp/" name="FTP" method="POST">
  {% csrf_token %}
  <button type="submit" value="Send via FTP" class="FTP" id="FTPButton" style="display: {{ ftpButton }};"> Send Files </button> 
</form>

<!--
<div id="div1">Loading Log File to show progress...</div>
-->
</body>
{% endblock %}